/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}
h1 {
   
    text-shadow: 3px 3px 6px #000000;
    font-size: 25px;
    color: grey;

}
body {
	font-family: 'Lucida Handwriting'', sans-serif;
    line-height: 1.6;
    color: black;
    
 }

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2,
h3,
a {
	color: black;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 2.25em;
}

/* .name, */
.main-nav li {
    text-align: center;
    font-size: 1.25em;;
	background: #fff;
	margin-top: 6px;
    margin-bottom: 6px;
    display: inline;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

	.main-nav a:hover {
		font-size: .95em;
		background-color: blue;
        text-transform: uppercase;
        color: #093a58;
	}
	
	/* .main-nav a:hover {
		color: #093a58;
	} */

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 1.5em;
    padding-bottom: 1.5em;
     background-image: linear-gradient(to bottom right, red, yellow, tomato); 
	margin-bottom: 30px;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
    background: grey;
    font-style: italic;
    font-weight: bold;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 789px) {

	.wrap {
		min-height: calc(100vh - 80px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
        margin: 0 auto;

    }
    #greetings {
        background-color: whitesmoke;
        text-align: center;
        color: black;
        padding: 10px;
        padding-bottom: 20px;;
        border-style: solid;
        border-radius: 1em;
        border-color: #000000;
        color: black;
        box-shadow: 10px 10px;

    }

	.main-nav {
		float: right;
	}

	.name,
	.main-nav li {
		float: left;
	}

	.main-nav li {
		margin-left: 12px;
	}

    /* ---- Columns ---- */
    
    .clearfix {
        overflow: auto;
      }
    
      .primary col {
    width: 60%;
    float: right;
    }
    .secondary col {
        width: 40%;
        float: left;
    }

	
	
	/* ------------- */
    .winelist {
        margin-top: 3em;
    }

    .birds-img {
		width: 300px;
		float: left;
		margin-top: 25px;
		margin-right: 25px;
        margin-bottom: 25px;
        padding: 15px;
    }

    .olives-img {
        width: 300px;
        float: left;
        margin-top: 15px;
        margin-right: 25px;
        margin-bottom: 25px;
        padding: 12px;
        border: solid 2px; color: #15a01c;
        padding: 15px;
    }
      
    .wine-img {
        width: 300px;
        float: left;
        margin-top: 15px;
        margin-right: 25px;
        margin-bottom: 25px;
        padding: 12px;
        border: solid 2px; color: #15a01c;
        padding: 15px;
    }
        
    .salads-img {
		width: 300px;
		float: left;
		margin-top: 5px;
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 12px;
		border: solid 2px; color: #15a01c;
	}

    .feat-img {
		width: 300px;
		float: left;
		margin-top: 5px;
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 12px;
		border: solid 2px; color: #15a01c;
	}
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}